.footer {
  background-color: $dark-orange;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  letter-spacing: normal;

  .wrapper {
    padding: 15px 30px;

    @media (max-width: $sm-width) {
  		padding: 15px;
  	}
  }

  p {
    @media (max-width: $sm-width) {
      width: 100%;
      text-align: center;

      &:first-of-type {
        margin-bottom: 15px;
      }
    }
  }

  a {
    color: $white;

    &:hover, &:active, &:focus {
      color: $light-orange;
    }
  }
}
