.header {
  text-align: center;
  color: $black;

  h1 {
    width: 100%;

    @media (min-width: $md-width-plus) {
      &:before {
        content: '-';
        margin-right: 10px;
      }

      &:after {
        content: '-';
        margin-left: 10px;
      }
    }
  }
}
