.header {
  text-align: center;
  color: $black;
  margin-bottom: 15px;

  .wrapper {
    padding-top: 15px;
  }

  h1 {
    width: 100%;

    @media (max-width: $md-width) {
      [aria-hidden="true"] {
        display: none;
      }
    }
  }
}
