.easy .game__board-tile {
  width: calc(calc(100% / 4) - 10px);
  margin: 5px;

  @media (max-width: $sm-width) {
    width: calc(calc(100% / 3) - 10px);
  }
}

.medium .game__board-tile {
  width: calc(calc(100% / 5) - 8px);
  margin: 4px;

  @media (max-width: $sm-width) {
    width: calc(calc(100% / 4) - 8px);
  }
}

.hard .game__board-tile {
  width: calc(calc(100% / 6) - 6px);
  margin: 3px;

  @media (max-width: $sm-width) {
    width: calc(calc(100% / 5) - 6px);
  }
}

.easy label[for="easy"],
.medium label[for="medium"],
.hard label[for="hard"],
.animals label[for="animals"],
.foods label[for="foods"],
.flowers label[for="flowers"],
.clothes label[for="clothes"],
.flagsAL label[for="flagsAL"],
.flagsMZ label[for="flagsMZ"],
.paused label[for="pause"] {
  border-color: $white;
}

main {
  .wrapper {
    margin: 0 auto 25px;
  }
}

.options {
  width: calc(25% - 15px);
  text-align: center;

  @media (max-width: $lg-width) {
    width: 100%;

    p i {
      transform: rotate(90deg);
    }
  }

  &__box {
    background-color: $orange;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    width: 100%;
    max-width: 550px;

    @media (max-width: $lg-width) {
      margin-bottom: 30px;
    }

    @media (max-width: $sm-width) {
      padding: 15px;
      margin-bottom: 25px;
    }
  }

  &__title {
    margin: -5px 0 25px;
  }

  &__items {
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    width: 100%;
    padding: 0;
  }

  &__item {
    width: 100%;
    background-color: $dark-orange;
    border: 2px solid transparent;
    margin-bottom: 10px;
    padding: 7px 15px;
    transition: 200ms border-style ease, 200ms border-color ease;
    cursor: pointer;

    .options__items--controls & {
      height: 43px;
      position: relative;
      width: calc(33.33% - calc(13px / 2));
      margin-bottom: 5px;

      &[for="start"] {
        i {
          left: 52%;
        }
      }

      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    @media (min-width: $sm-width-plus) and (max-width: $lg-width) {
      width: calc(33.33% - calc(13px / 2));
    }

    &:hover, &:focus {
      border-color: $white;
    }

    &:focus {
      border-style: dashed;
    }
  }

  p {
    font-size: 19px;
  }
}

.game {
  width: calc(75% - 15px);

  @media (max-width: $lg-width) {
    width: 100%;
  }

  &__stats {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: $orange;
    position: relative;
    margin-bottom: 30px;

    @media (max-width: $sm-width) {
      padding: 7px 10px;
      margin-bottom: 25px;
    }

    i {
      display: none;

      @media (max-width: 480px) {
        display: inline;
      }
    }

    .text {
      display: inline;

      @media (max-width: 480px) {
        display: none;
      }
    }

    &-timer {
      background-color: $white;
      color: $black;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 35px;
      text-align: center;
      padding: 15px 20px;
      text-align: center;
      transition: 200ms background-color ease;
      width: 115px;

      &-overlay {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;

        &--green {
          background-color: $green;
        }

        &--yellow {
          background-color: $yellow;
        }

        &--red {
          background-color: $red;
        }
      }

      span {
        position: relative;
        z-index: 10;
      }

      @media (max-width: $sm-width) {
        font-size: 30px;
        padding: 7px 10px;
        width: 90px;
      }
    }
  }

  &__board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: -5px;

    &-tile {
      cursor: pointer;
      position: relative;
      perspective: 1000px;

      &-inner {
        height: 100%;
        position: relative;
        transition: 500ms all ease;
      	transform-style: preserve-3d;
      }

      &-front {
        background-color: $dark-orange;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        backface-visibility: hidden;
        transform: rotateY(0deg);
        z-index: 2;
      }

      &-back {
        background-color: $white;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        backface-visibility: hidden;
        transform: rotateY(180deg);

        img {
          padding: 10px;
        }
      }

      &--flipped {
        cursor: auto;

        .game__board-tile-inner {
          transform: rotateY(180deg);
        }
      }
    }
  }
}

.current {
  margin: 30px 0 0;
  padding: 10px 10px 5px 10px;
  width: 100%;
  background-color: $orange;

  &__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    &-item {
      width: 125px;
      padding: 10px;

      img {
        width: 65px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 5px;

        @media (max-width: $sm-width) {
          width: 50px;
        }
      }

      p {
        text-align: center;
        font-size: 12px;
      }
    }
  }
}

.overlay {
  background-color: $orange;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &__contents {
    width: 100%;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    @media (max-width: $sm-width) {
  		padding: 30px 15px;
  	}
  }

  h2 {
    font-size: 125px;
    margin-bottom: 15px;

    @media (max-width: $md-width) {
      font-size: 100px;
    }

    @media (max-width: $sm-width) {
      font-size: 75px;
    }

    &.long {
      font-size: 100px;
      margin-bottom: 15px;

      @media (max-width: $md-width) {
        font-size: 75px;
      }

      @media (max-width: $sm-width) {
        font-size: 50px;
      }
    }
  }

  p {
    font-size: 50px;
    margin-bottom: 15px;

    @media (max-width: $md-width) {
      font-size: 40px;
    }

    @media (max-width: $sm-width) {
      font-size: 30px;
    }
  }

  &__button {
    font-size: 30px;
    margin: 15px 10px 0;
    background-color: $dark-orange;
    color: $white;
    outline: none;
    border: 2px solid transparent;
    padding: 7px 20px;

    &:hover, &:focus {
      border-color: $white;
    }

    &:focus {
      border-style: dashed;
    }

    @media (max-width: $md-width) {
      font-size: 25px;
    }

    @media (max-width: $sm-width) {
      font-size: 20px;
    }
  }
}

.highscores {
  width: 100%;
  max-width: 600px;
  margin: 50px auto 25px;

  tr {
    background-color: $light-orange;

    &.spacer {
      height: 20px;
      background-color: transparent;
    }
  }

  tr:first-of-type {
    background-color: $dark-orange;

    td {
      padding: 10px 15px;
    }
  }

  td {
    padding: 5px 10px;
    border: 2px solid $dark-orange;

    &:first-of-type {
      background-color: $dark-orange;
    }
  }

  tr:not(:first-of-type) {
    font-size: 85%;
  }

  &__new {
    td:nth-of-type(2) {
      background-color: $white;
    }
  }

  input {
    color: $black;
    background-color: transparent;
    border: 0;
    outline: 0;
    text-align: center;
    height: 20px;
    width: 100%;

    &::placeholder {
      color: $black;
    }

    @media (max-width: $sm-width) {
      height: 15px;
    }
  }

  @media (max-width: $md-width) {
    td:nth-of-type(6) {
      display: none;
    }
  }

  @media (max-width: $sm-width) {
    td:nth-of-type(5),
    td:nth-of-type(6) {
      display: none;
    }
  }

  @media (max-width: $xs-width) {
    td:nth-of-type(4) {
      display: none;
    }
  }
}
