.easy {
  label[for="easy"] {
    border-color: $white;
  }

  .game__board-tile {
    width: calc(calc(100% / 4) - 10px);
    position: relative;
    margin: 5px;
  }
}

.medium {
  label[for="medium"] {
    border-color: $white;
  }

  .game__board-tile {
    width: calc(calc(100% / 5) - 8px);
    position: relative;
    margin: 4px;
  }
}

.hard {
  label[for="hard"] {
    border-color: $white;
  }

  .game__board-tile {
    width: calc(calc(100% / 6) - 6px);
    position: relative;
    margin: 3px;
  }
}

main {
  .wrapper {
    margin: 50px auto;
    max-width: 1000px;
  }
}

.options {
  width: calc(25% - 15px);
  text-align: center;

  &__box {
    background-color: $orange;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
  }

  &__title {
    margin-top: -10px;
    margin-bottom: 15px;
    position: relative;

    &:before {
      content: '-';
      margin-right: 5px;
    }

    &:after {
      content: '-';
      margin-left: 5px;
    }
  }

  input[type="radio"] {
    display: none;
  }

  &__item {
    display: block;
    background-color: $dark-orange;
    border: 2px dashed transparent;
    margin: 10px 0;
    padding: 5px 15px;
    transition: 200ms border-style ease, 200ms border-color ease;
    cursor: pointer;

    &:hover, &:active, &:focus {
      border-style: solid;
      border-color: $white;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px -10px -10px;
  }

  &__button {
    width: 50%;
    height: 65px;
    color: $white;
    border: 2px solid transparent;
    outline: none;
    background-color: $dark-orange;
    margin: 10px;
    position: relative;

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 30px;
    }

    &--start i {
      left: calc(50% + 1px);
    }

    &:hover, &:active, &:focus {
      border-color: $white;
    }
  }
}

.game {
  width: calc(75% - 15px);

  &__stats {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    background-color: $orange;
    position: relative;
    margin-bottom: 20px;

    &-timer {
      background-color: $white;
      color: $black;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 35px;
      text-align: center;
      padding: 0 15px;
      width: 115px;
    }
  }

  &__board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: -5px;

    &--disabled {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }

    &-tile {
      cursor: pointer;

      &-front {
        background-color: $dark-orange;
        height: 0;
        padding-bottom: 100%;
      }

      &-back {
        background-color: $white;
        height: 0;
        padding-bottom: 100%;
        display: none;

        img {
          padding: 10px;
        }
      }

      &--flipped {
        .game__board-tile-front {
          display: none;
        }

        .game__board-tile-back {
          display: block;
        }
      }
    }
  }
}
