a {
  text-decoration: none;
  transition: 200ms color ease;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin: 0;
}

h1 {
  color: $black;
  font-size: 75px;
}

h2 {
  font-size: 26px;
}

p {
  margin: 0;
}

@font-face {
  font-family: 'Life Savers';
  src: url('../fonts/life-savers.woff2') format('woff2'),
       url('../fonts/life-savers.woff') format('woff'),
       url('../fonts/life-savers.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans.woff2') format('woff2'),
       url('../fonts/open-sans.woff') format('woff'),
       url('../fonts/open-sans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
